body {
    margin: 0;
    font-family: 'Kalam', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2E8D9;
    text-align: center;
    overflow: hidden;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.4rem;
}

header {
    display:flex;
    flex-direction: row;
    background-color: #E7D1CD;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


h1.gamename {
    font-size: medium;
    margin: 0;
    
}

.logo img {
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    vertical-align: middle;
}

.restart-icon, .sound-icon {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.icons-container{
    display: flex;
    gap: 10px; 
}


.container {
    background-color:  #E7D1CD;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 80%;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
}

button, input {
    font-family: 'Kalam', cursive;
    margin: 0.3rem 0;
    padding: 0.6rem 1rem;
    border: 2px solid #c4a099;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

button {
    background-color: #F2E8D9;
    color: #1f1c1c;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #C5948D;
}

input {
    width: calc(100% - 2rem);
}

#error {
    margin-top: 0.5rem;
    color: red;
    font-size: 1.1rem;
}


footer {
    flex-direction: column;
    text-align: center;
    padding: 12px 20px;
    background-color: #E7D1CD;
    font-size: 1.1rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

header, main, footer {
    position: relative; 
    z-index: 10; 
}


@keyframes floatAnimation {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}

.animacion-flotante {
    position: absolute;
    background-color: #E7D1CD; 
    width: 100px;
    height: 144px;
    border-radius: 8px;
    animation: floatAnimation 15s linear infinite;
    opacity: 0;
    z-index: -1; 
}


.animacion-flotante:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.animacion-flotante:nth-child(2) {
    left: 30%;
    animation-delay: 2s;
}

.animacion-flotante:nth-child(3) {
    left: 50%;
    animation-delay: 4s;
}

.animacion-flotante:nth-child(4) {
    left: 70%;
    animation-delay: 6s;
}

.animacion-flotante:nth-child(5) {
    left: 90%;
    animation-delay: 8s;
}

