body{
    background: #F2E8D9;
    font-family: kalam;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    flex-direction: row;
    background-color: #E7D1CD;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 10px 0px ;
    
}

h1.gamename {
    font-size: 1em;
    margin: 0;
    text-align: left ;
}

.logo img, .soundincon img, .restart img{
    height: 40px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}


.section1 {
    padding: 0 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

table.cartasAling {
    border-spacing: 10px;
}

button {
    display: flex;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 8px;
    background: url ('img01/back.png');
    cursor: pointer;
}



.stadistics {
    
    border: 1px solid #b48c8c;
    height: 50px;
    border-radius: 6px;
    background-color: #E7D1CD;
    padding: 8px 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    margin: 10px;
}

/* .cartasAling {
    display: flex;
    justify-content: center;
    justify-items: stretch;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
} */


.section2 {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}


.inputName, .timeCounter {
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 12px 20px;
    background-color: #E7D1CD;
    font-size: 15px;
}

/* @media (max-width: 600px) {
    header {
        display: flex;
        text-align: center;
    }
    h1.gameName {
        font-size: 1.2em;
    }

    button {
        height: 60px;
        width: 60px;
    }
    .section2 {
        flex-direction: column;
        align-items: center;
    }
    .stadistics {
        font-size: 18px;
        height: 1em;
        margin: 1em;
    }
} */

@media (min-width: 601px) {
    main {
        max-width: 800px;
        margin: 30px auto;
    }

    button {
        display: flex;
        height: 70px;
        width: 100px;
    }

    h1.gameName {
        font-size: 2em;
    }

    .stadistics {
        font-size: 25px;
        height: 60px;
    }
}
