body {
    margin: 0;
    font-family: 'Kalam', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2E8D9;
    text-align: center;
    overflow: hidden;
    position: relative;
}

header {
    display:flex;
    flex-direction: row;
    background-color: #E7D1CD;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

h1.gamename {
    font-size: medium;
    margin: 0;
    
}

.logo img {
    height: 2.5rem;
    vertical-align: middle;
    cursor: pointer;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    vertical-align: middle;
}

.restart-icon, .sound-icon {
    height: 3.125rem;
    margin-left: 0.625rem;
    cursor: pointer;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.section1 {
    padding: 0 10px 10px;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

button {
    height: 6.25rem;
    width: 6.25rem;
    color: black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    overflow: hidden;
}

button img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}


.stadistics {
    border: 1px solid #b48c8c;
    border-radius: 0.375rem;
    background-color: #E7D1CD;
    padding: 0.5rem 1.25rem;
    box-sizing: border-box;
    text-align: center;
    margin: 1.25rem;
    font-size: 1.875rem;
    margin: 0.625rem;
}

.cartasAling {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 90%;
    margin: 1.25rem auto;
    width: 100%;
}


.section2 {
    display: flex;
    background-color: #F2E8D9;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
    margin: 0.625rem;
    font-size: 1.875rem;
}



footer {
    flex-direction: column;
    text-align: center;
    padding: 0.75rem 1.25rem;
    background-color: #E7D1CD;
    font-size: 1.1rem;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

header, main, footer {
    position: relative; 
    z-index: 10; 
}


.cartasAling {
animation-name:cartas ;
animation-duration: 2s;
animation-timing-function: ease-in;
animation-iteration-count: 1;    
}

@keyframes cartas  {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(1) translateX(-100%);
    }
    
    50% {
      opacity: 1;
      transform: translateY(0px) rotate(-360deg) scale(1);
    }  
  
    100% {
      opacity: 1;
      transform: translateY(0px) rotate(0deg) scale(1);
    }
  }



@keyframes floatAnimation {
    0% {
        transform: translateY(100vh) rotate(0deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}



.animacion-flotante {
    position: absolute;
    background-color: #E7D1CD; 
    width: 6.25rem;
    height: 9rem;
    border-radius: 0.5rem;
    animation: floatAnimation 15s linear infinite;
    opacity: 0;
    z-index: -1; 
}


.animacion-flotante:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}

.animacion-flotante:nth-child(2) {
    left: 30%;
    animation-delay: 2s;
}

.animacion-flotante:nth-child(3) {
    left: 50%;
    animation-delay: 4s;
}

.animacion-flotante:nth-child(4) {
    left: 70%;
    animation-delay: 6s;
}

.animacion-flotante:nth-child(5) {
    left: 90%;
    animation-delay: 8s;
}

@media all and (max-width: 992px) {
    .header  .img {
        text-align: left;
    }
}


.sound-icon {
    height: 50px;
}


.restart-icon {

    height: 50px;
}

	
.icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.sound-icon,.restart-icon {
    height: 50px;
    cursor: pointer;
}


.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.popup-content {
    background-color: #E7D1CD;
    padding: 1.25rem;
    border-radius: 0.625rem;
    text-align: center;
    max-width: 18.75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

	

.popup-buttons button {
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    height: auto;
    width: auto;
}

	

#confirm-restart {
    background-color: #b48c8c;
    color: white;
}

	
#cancel-restart {
    background-color: #F2E8D9;
}

.button-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.125rem;
}